//Variáveis
$primary-color: #cfe0d1;
$secondary-color: #2e4b35;
$text-color: rgb(14, 22, 17);
$font-stack: 'Arial', sans-serif;


//Estilos globais
body {
    font-family: $font-stack;
    margin: 0;
    padding: 0;
    background-image: url(image/image1.jpg);    
    background-size: cover; // Garante que a imagem cubra toda área
    background-position: center; //Centraliza a imagem
    background-repeat: no-repeat; //Impede a repetição da imagem
    height: 100vh;
}

//Header
header{
    background-color: $primary-color;
    color: $text-color;
    text-align: center;
}

//Navegação
nav ul {
    list-style-type: none;
    padding: 0;

    li {
        display: inline;
        margin: 0 15px;

        a {
            color: $text-color;
            text-decoration: none;
            padding: 10px;
            transition: color 0.3s, background-color 0.3s; //suavizar transição
        
            &:hover {
                color: $primary-color; //cor do texto ao passar o mouse
                //background-color: rgba(255, 255, 255, 0.2); //fundo ao passar o mouse
                //border-radius: 5px; //bordas arredondadas
            }
        }
    }
}
//Rodapé
footer {
    background-color: $primary-color;
    color: $text-color;
    text-align: center;
}

